.inputBox label{				
				margin-bottom: 17px;
				width: 137px;
				text-align: left;
				display: inline-block;
			}
			
			.btn.btnGuardar:hover, .btn.btnEditar:hover{
				background-color: #4f99c6 !important;
			}
			.btn.btnGuardar, .btn.btnEditar{			
				background-color: #6fb3e0!important;
				border-color: #6fb3e0;
			}
			
			.btn.btnDelete:hover, .btn.btnEliminar:hover{
				background-color: #b74635 !important;
			}
			.btn.btnDelete, .btn.btnEliminar{			
				background-color: #d15b47 !important;
				border-color: #d15b47;
			}
			
			
.tituloTabla{ display: inline-block; margin:0 20px 6px 20px; }
	
.toolbar_detalles{
	clear:both; text-align:right; position:relative; margin-bottom: 12px; display:inline-block;
}
.toolbar_detalles .btnAgregar {
	background-color: transparent;
	border: none;
	background-image: url(../img/Add.png);
	background-repeat: no-repeat;
	width: 35px;
	height: 35px;
	cursor: pointer;
	margin-right:13px;
}
.toolbar_detalles .btnEliminar {
	border: none;
	cursor: pointer;
	background-color: transparent;
	background-image: url(../img/Denided.png);
	background-repeat: no-repeat;
	width: 35px;
	height: 35px;
}
	/*
.wijmo-wijcombobox-wrapper.ui-state-default.ui-corner-all{
	display:inline-block !important; 
}

.wijmo-wijcombobox-trigger { display:inline-block !important;  }

.ui-icon.ui-icon-triangle-1-s:before {
font-family: FontAwesome;
content: "\f107";
text-decoration: inherit;
display: inline-block;
speak: none;
}
div[role="combobox"] {
	width:350px !important; display:inline-block;
}
div[role="combobox"] input[role="textbox"] {
	border-top-right-radius: 0 !important;
	border-bottom-right-radius: 0 !important;
	height: 21px !important;
	font-size: 1em !important;
	width:200px !important;
	display:inline-block;
	margin-right:0 !important;
}

.wijmo-wijlist-ul .wijmo-wijlist-item {
margin: 1px 0;
padding: 3px 5px;
white-space: nowrap;
cursor: pointer;
text-align: left;
font-weight: normal;
border: solid 1px transparent;
}

.ui-widget-content {
border: 1px solid #18181f;
background: #18181f url(images/ui-bg_flat_100_18181f_40x100.png) 50% 50% repeat-x;
color: #dfdfe3;
}
.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus {
border: 1px solid #373740;
background: #191921 url(images/ui-bg_highlight-soft_35_191921_1x100.png) 50% 50% repeat-x;
font-weight: normal;
color: #8fddff;
}*/
